@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");

.containerMissionLevel {
  display: flex;
  justify-content: center;
}

.missionLevel {
  width: 316px;
  height: 93px;
  background: #ffffff;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.0790811);
  border-radius: 10px;
}

.misionesRestantes img {
  background: #ffffff;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.0790811);
  border-radius: 10px;

  width: 316px;
  height: 65px;
}

.misionesRestantes, .containerShip {
  display: flex;
  justify-content: center;
}

.ship{
    background-color: #C5DAEA;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.0790811);
border-radius: 10px;
  width: 316px;
  height: 65px;
   display: flex;
  justify-content: center;
}

.ship svg{
        margin-top: 8px;
}

.containerChallenges{
    display: flex;
    justify-content: space-evenly;
}
.containerChallenges p {
    font-family: "Nunito";
}