@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");

.amount-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 44%;
}

.amount-text>h2{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #333333;
    font-family: "Nunito";
}

.amount>button{
    font-family: "Nunito";
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #525252;
    width: 102px;
    height: 48px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 36px 28px -12px rgba(73,80,87,.18);
    justify-content: center;
}

.amount>button:focus{
    outline: none;
    color: #6200EE;
}

.button-amount>a>button{
    width: 344px;
    height: 57px;
    border-radius: 10px;
    background: #6200EE;
    border: none;
    margin-top: 100%;
    color: #F5EEFF;
    font-size: 20px;
    font-weight: 600;
    font-family: "Nunito";
}

.amount {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 6%;
}

hr{
    height: 5px !important;
    width: 134px;
    background-color: #000000;
    opacity: inherit;
    border-radius: 100px;
}


