.container-benefits-detail{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    position: fixed;
    top: 0;
    background: #ffffff;
}

.container-benefits-detail>svg{
    align-self: baseline;
    color: #6200EE;
    font-size: 24px;
}

.container-benefits-detail>:nth-child(3){
    margin: 3% 9% 0 9%;
}

.container-benefits-detail>:nth-child(3)>div{
    margin-bottom: 7%;
}

.container-benefits-detail>:nth-child(3)>div>p{
    font-size: 14px;
    line-height: 19px;
    color: #111111;
    margin: 0;
}

.container-benefits-detail>button{
    width: 344px;
    height: 57px;
    border-radius: 10px;
    background: #6200EE;
    border: none;
    margin: 14% 0 1% 0;
    color: #F5EEFF;
    font-size: 20px;
    font-weight: 600;
}