@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");

.container{
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.header {
  background: #6200ee;
  height: 214px;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 0px;
  color: #f5eeff;
  font-family: "Nunito";
  font-size: 20px;
  justify-content: space-around;
}

.money {
  display: flex;
  justify-content: center;
  padding-top: 0px !important;
  color: #f5eeff;
  font-size: 50px;
  font-family: "Nunito";
  font-weight: bold;
}

.coint {
  padding-right: 10px;
}

.textocoint {
  font-size: 15px;
}

.level{
      display: flex;
    justify-content: center;

}

.level {
  display: flex;
  justify-content: center;
}

.Mission {
  width: 344px;
  height: 65px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  background-color: #009189;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.0790811);
  border-radius: 10px;
  margin-left: 17px;
}

.missionText {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 12px;
}
.coints {
  padding-top: 20px;
}

.containerRec p{
padding-left: 15px;
font-size: 20px;
}

.buttons{
    margin-left: 17px;
}

.footer{
    display: flex;
    justify-content: space-around;
    Width:375px;
Height: 45px;
background-color: #FFFFFF;
}