/* @import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

.container {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.header {
  background: #6200ee;
  height: 214px;
}

.title {
  display: flex;
  justify-content: center;
      padding-top: 0px;
  color: #f5eeff;
  font-family: "Nunito";
  font-size: 20px;
  justify-content: space-around;
}

.money{
display: flex;
  justify-content: center;
  padding-top: 0px;
  color: #f5eeff;
  font-size: 50px;
  font-family: "Nunito";
  font-weight: bold

}

.coint{
      padding-right: 10px;
}

.textocoint{
    font-size: 15px;
}
